In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import as tabelas do SNIS
data_sul = pd.read_csv("AgrupamentoDesagregado--2018-05-31--11-43-29_Regiao_Sul.csv", encoding='latin1', delimiter=';', engine='python', skipfooter = 3)
data_sudeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-05-11_Regiao_Sudeste.csv", encoding='latin1', delimiter=';', engine='python', skipfooter = 3)
data_norte = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-24-50_Regiao_Norte.csv", encoding='latin1', delimiter=';', engine='python', skipfooter = 3)
data_nordeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-49-58_Regiao_Nordeste.csv", encoding='latin1', delimiter=';', engine='python', skipfooter = 3)
data_centro_oeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-54-02_Regiao_centro_Oeste.csv", encoding='latin1', delimiter=';', engine='python', skipfooter = 3)

In [3]:
# Import as tabelas do SNIS
#data_sul = pd.read_csv("AgrupamentoDesagregado--2018-05-31--11-43-29_Regiao_Sul.csv", delimiter=';', engine='python', skipfooter = 3)
#data_sudeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-05-11_Regiao_Sudeste.csv", delimiter=';', engine='python', skipfooter = 3)
#data_norte = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-24-50_Regiao_Norte.csv", delimiter=';', engine='python', skipfooter = 3)
#data_nordeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-49-58_Regiao_Nordeste.csv", delimiter=';', engine='python', skipfooter = 3)
#data_centro_oeste = pd.read_csv("AgrupamentoDesagregado--2018-05-31--12-54-02_Regiao_centro_Oeste.csv", delimiter=';', engine='python', skipfooter = 3)

In [4]:
df_snis = pd.concat([data_sul, data_sudeste, data_norte, data_nordeste, data_centro_oeste])

In [5]:
display(df_snis.head())

,Código do Município,Município,Estado,Região,Ano de Referência,Código do Prestador,Prestador,Sigla do Prestador,Abrangência,Tipo de serviço,...,IN076 - Incidência das análises de turbidez fora do padrão (percentual),IN077 - Duração média dos reparos de extravasamentos de esgotos (horas/extrav.),IN079 - Índice de conformidade da quantidade de amostras - cloro residual (percentual),IN080 - Índice de conformidade da quantidade de amostras - turbidez (percentual),IN082 - Extravasamentos de esgotos por extensão de rede (extrav./Km),IN083 - Duração média dos serviços executados (hora/serviço),IN084 - Incidência das análises de coliformes totais fora do padrão (percentual),IN085 - Índice de conformidade da quantidade de amostras - coliformes totais (percentual),IN101 - Índice de suficiência de caixa (percentual),IN102 - Índice de produtividade de pessoal total (equivalente) (ligações/empregados)
0,410010,Abatiá,PR,Sul,2016,41001011,Serviço Autônomo Municipal de Água e Esgoto,SAMAE,Local,Água e Esgoto,...,"0,00",NaN,"100,00","100,00","0,00","2,27","0,00","242,26","113,25","232,16"
1,410080,Alvorada do Sul,PR,Sul,2016,41008011,Serviço Autônomo de Água e Esgoto de Alvorada ...,SAAE,Local,Água,...,"0,00",NaN,"100,00","100,00",NaN,"0,08","0,00","100,00","135,60","305,41"
2,410110,Andirá,PR,Sul,2016,41011011,Prefeitura Municipal de Andirá,PMA,Local,Água e Esgoto,...,"0,44","1,89","101,32","101,32","0,07","1,27","0,00","125,00","115,92","272,70"
3,410115,Ângulo,PR,Sul,2016,41011511,Serviço Autônomo Municipal de Água e Esgoto,SAMAE,Local,Água,...,"0,00",NaN,"118,18","100,00",NaN,NaN,"0,00","102,74","111,51","204,04"
4,410240,Bandeirantes,PR,Sul,2016,41024011,Serviço Autônomo de Água e Esgoto,SAAE,Local,Água e Esgoto,...,"0,00","4,00","100,00","100,00","0,05","1,64","0,00","100,00","122,22","242,01"

In [6]:
df_snis[['FN026 - Quantidade total de empregados próprios (Empregados)']][df_snis['Município '] == 'Campinas']

      FN026 - Quantidade total de empregados próprios (Empregados)
1307                                              2.243

In [7]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].dtypes

dtype('float64')

In [8]:
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].dtypes

dtype('O')

In [9]:
df_snis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5708 entries, 0 to 439
Columns: 236 entries, Código do Município  to IN102 - Índice de produtividade de pessoal total (equivalente) (ligações/empregados)
dtypes: float64(26), object(210)
memory usage: 10.3+ MB

In [10]:
len(df_snis)

5708

In [11]:
# deleta linhas com municipio = ---
municipios_index_sem_id = []
# Selecione os índices dos municipios iguais a --- para remover
municipios_sem_id = df_snis[df_snis['Município '] == '---']

municipios_index_sem_id += municipios_sem_id.index.tolist()
# Remove os municipios
df_snis = df_snis.drop(municipios_index_sem_id).reset_index(drop = True)

In [12]:
len(df_snis)

5623

In [13]:
df_snis['Código do Município '].dtypes

dtype('O')

In [14]:
# muda o tipo do Código do Município para int64
df_snis['Código do Município '] = df_snis['Código do Município '].str.replace('.', '')
df_snis['Código do Município '] = pd.to_numeric(df_snis['Código do Município '])
df_snis['Código do Município '].dtypes

dtype('int64')

In [15]:
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].dtypes

dtype('O')

In [16]:
#Alterando virgulas por pontos e transformando coluna em inteiro
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] = df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].str.replace('.', '')
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] = pd.to_numeric(df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'])
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].dtypes

dtype('int64')

In [17]:
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].max()

12038175

In [18]:
df_snis[df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] == 12038175]

,Código do Município,Município,Estado,Região,Ano de Referência,Código do Prestador,Prestador,Sigla do Prestador,Abrangência,Tipo de serviço,...,IN076 - Incidência das análises de turbidez fora do padrão (percentual),IN077 - Duração média dos reparos de extravasamentos de esgotos (horas/extrav.),IN079 - Índice de conformidade da quantidade de amostras - cloro residual (percentual),IN080 - Índice de conformidade da quantidade de amostras - turbidez (percentual),IN082 - Extravasamentos de esgotos por extensão de rede (extrav./Km),IN083 - Duração média dos serviços executados (hora/serviço),IN084 - Incidência das análises de coliformes totais fora do padrão (percentual),IN085 - Índice de conformidade da quantidade de amostras - coliformes totais (percentual),IN101 - Índice de suficiência de caixa (percentual),IN102 - Índice de produtividade de pessoal total (equivalente) (ligações/empregados)
2962,355030,São Paulo,SP,Sudeste,2016,35503000,Companhia de Saneamento Básico do Estado de Sã...,SABESP,Regional,Água e Esgoto,...,"0,30","24,87","102,82","102,76","5,15","17,60","0,79","102,69","123,26","731,20"

In [19]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'][df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] == 12038175]

2962    4.897
Name: FN026 - Quantidade total de empregados próprios (Empregados), dtype: float64

In [20]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].dtypes

dtype('float64')

In [21]:
# limpar os residuos decimais acima de 3 casas para obter o inteiro corretamente
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'] = round(df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'],3).astype(str)

In [22]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].dtypes

dtype('O')

In [23]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'][df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] == 12038175]

2962    4.897
Name: FN026 - Quantidade total de empregados próprios (Empregados), dtype: object

In [24]:
#Alterando virgulas por pontos e transformando coluna em inteiro
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'] = df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].str.replace('.', '')
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'] = pd.to_numeric(df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'])
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].dtypes

dtype('int64')

In [25]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'][df_snis['Município '] == 'Campinas']

2462    2243
Name: FN026 - Quantidade total de empregados próprios (Empregados), dtype: int64

In [26]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'].dtypes

dtype('int64')

In [27]:
df_snis['FN026 - Quantidade total de empregados próprios (Empregados)'][df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'] == 12038175]

2962    4897
Name: FN026 - Quantidade total de empregados próprios (Empregados), dtype: int64

In [28]:
#Mapeando novos valores para a coluna Tipos de Despesa
df_snis['Tipo Empresa'] = df_snis['Natureza jurídica '].map({'Autarquia': 'Pública',
                                                  'Administração pública direta': 'Pública',
                                                  'Sociedade de economia mista com administração privada': 'Pública',
                                                  'Empresa privada': 'Privada',
                                                  'Sociedade de economia mista com administração pública': 'Pública',
                                                  'Organização social': 'Pública',
                                                  'Empresa pública': 'Pública'})

In [29]:
#Mapeando novos valores para a coluna Tipos de Despesa
df_snis['Nat Juridica'] = df_snis['Natureza jurídica '].map({'Autarquia': 'Autarquia',
                                                  'Administração pública direta': 'APD',
                                                  'Sociedade de economia mista com administração privada': 'SEMAPriv',
                                                  'Empresa privada': 'Privada',
                                                  'Sociedade de economia mista com administração pública': 'SEMAPubl',
                                                  'Organização social': 'OS',
                                                  'Empresa pública': 'Pública'})

In [30]:
df_snis.groupby(['Tipo Empresa']).groups.keys()

dict_keys(['Privada', 'Pública'])

In [31]:
len(df_snis.groupby(['Tipo Empresa']).groups['Privada'])

155

In [32]:
len(df_snis.groupby(['Tipo Empresa']).groups['Pública'])

5468

In [33]:
#Como o pandas está tratando cada coluna do dataset
df_snis['POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)'].dtypes

dtype('int64')

In [34]:
top100 = df_snis[['Código do Município ',# Cód Município
                      'Tipo Empresa', # Tp Empresa
                      'Nat Juridica', # Nat Jurídica
                      'POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)', # Pop Total
#                      'IN046 - Índice de esgoto tratado referido à água consumida (percentual)', # Esg Tratado
                      'IN013 - Índice de perdas faturamento (percentual)', # Perdas Fat
                      'IN049 - Índice de perdas na distribuição (percentual)', # Perdas Dist
                      'IN004 - Tarifa média praticada (R$/m³)', # Tarifa méd
#                      'FN033 - Investimentos totais realizados pelo prestador de serviços (R$/ano)', # Investimento
                      'AG005 - Extensão da rede de água (km)', # Ext rede água
                      'ES004 - Extensão da rede de esgotos (km)', # Ext rede esgotos
                      'FN026 - Quantidade total de empregados próprios (Empregados)'# Empregados
                     ]]

In [35]:
top100.shape

(5623, 10)

In [36]:
top100 = top100.dropna()

In [37]:
top100.shape

(1938, 10)

In [38]:
top100 = top100.sort_values(by='POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)',ascending=False)

In [39]:
# foram  110 porque 5 empresas a mais para 5 municipios
top100 = top100[:200]

In [40]:
top100.shape

(200, 10)

In [41]:
top100.head()

,Código do Município,Tipo Empresa,Nat Juridica,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),IN013 - Índice de perdas faturamento (percentual),IN049 - Índice de perdas na distribuição (percentual),IN004 - Tarifa média praticada (R$/m³),AG005 - Extensão da rede de água (km),ES004 - Extensão da rede de esgotos (km),FN026 - Quantidade total de empregados próprios (Empregados)
2962,355030,Pública,SEMAPubl,12038175,"24,69","36,69","3,66","21.262,00","17.101,64",4897
2371,330455,Pública,SEMAPubl,6498837,"52,41","25,36","4,16","10.891,20","4.864,51",3105
5195,530010,Pública,SEMAPubl,2977216,"24,71","35,21","4,74","8.534,49","6.377,11",2517
3697,292740,Pública,SEMAPubl,2938092,"44,19","53,07","3,66","5.358,67","3.506,06",1447
3954,230440,Pública,SEMAPubl,2609716,"26,66","42,64","2,99","4.112,66","2.442,27",5910

In [42]:
top100.groupby(['Tipo Empresa']).count()

,Código do Município,Nat Juridica,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),IN013 - Índice de perdas faturamento (percentual),IN049 - Índice de perdas na distribuição (percentual),IN004 - Tarifa média praticada (R$/m³),AG005 - Extensão da rede de água (km),ES004 - Extensão da rede de esgotos (km),FN026 - Quantidade total de empregados próprios (Empregados)
Tipo Empresa,,,,,,,,,
Privada,19,19,19,19,19,19,19,19,19
Pública,181,181,181,181,181,181,181,181,181

In [43]:
top100[top100['Código do Município '] == 355030]

,Código do Município,Tipo Empresa,Nat Juridica,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),IN013 - Índice de perdas faturamento (percentual),IN049 - Índice de perdas na distribuição (percentual),IN004 - Tarifa média praticada (R$/m³),AG005 - Extensão da rede de água (km),ES004 - Extensão da rede de esgotos (km),FN026 - Quantidade total de empregados próprios (Empregados)
2962,355030,Pública,SEMAPubl,12038175,"24,69","36,69","3,66","21.262,00","17.101,64",4897

In [44]:
#não precisa pois esta dado drop na top100 com todo o conjunto 
# top100 = top100.fillna(0)

In [45]:
top100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 2962 to 5608
Data columns (total 10 columns):
Código do Município                                                                        200 non-null int64
Tipo Empresa                                                                               200 non-null object
Nat Juridica                                                                               200 non-null object
POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)    200 non-null int64
IN013 - Índice de perdas faturamento (percentual)                                          200 non-null object
IN049 - Índice de perdas na distribuição (percentual)                                      200 non-null object
IN004 - Tarifa média praticada (R$/m³)                                                     200 non-null object
AG005 - Extensão da rede de água (km)                                                      200 non-null object
ES004 - Extensão da rede de esgotos (km)                                                   200 non-null object
FN026 - Quantidade total de empregados próprios (Empregados)                               200 non-null int64
dtypes: int64(3), object(7)
memory usage: 17.2+ KB

In [46]:
top100.describe()

,Código do Município,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),FN026 - Quantidade total de empregados próprios (Empregados)
count,200.000000,2.000000e+02,200.000000
mean,335032.120000,5.010980e+05,2393.475000
std,82191.200363,1.032235e+06,2003.994767
min,110020.000000,1.329340e+05,50.000000
25%,292377.500000,1.789945e+05,1000.000000
50%,340395.000000,2.637870e+05,1625.000000
75%,355130.000000,4.305805e+05,3225.000000
max,530010.000000,1.203818e+07,8980.000000

In [47]:
#Alterando virgulas por pontos e transformando coluna em inteiro
top100['IN013 - Índice de perdas faturamento (percentual)'] = top100['IN013 - Índice de perdas faturamento (percentual)'].str.replace(',', '.')
top100['IN013 - Índice de perdas faturamento (percentual)'] = pd.to_numeric(top100['IN013 - Índice de perdas faturamento (percentual)'])

In [48]:
#Alterando virgulas por pontos e transformando coluna em inteiro
top100['IN049 - Índice de perdas na distribuição (percentual)'] = top100['IN049 - Índice de perdas na distribuição (percentual)'].str.replace(',', '.')
top100['IN049 - Índice de perdas na distribuição (percentual)'] = pd.to_numeric(top100['IN049 - Índice de perdas na distribuição (percentual)'])

In [49]:
#Alterando virgulas por pontos e transformando coluna em inteiro
top100['IN004 - Tarifa média praticada (R$/m³)'] = top100['IN004 - Tarifa média praticada (R$/m³)'].str.replace(',', '.')
top100['IN004 - Tarifa média praticada (R$/m³)'] = pd.to_numeric(top100['IN004 - Tarifa média praticada (R$/m³)'])

In [50]:
#Alterando virgulas por pontos e transformando coluna em inteiro
top100['AG005 - Extensão da rede de água (km)'] = top100['AG005 - Extensão da rede de água (km)'].str.replace('.', '')
top100['AG005 - Extensão da rede de água (km)'] = top100['AG005 - Extensão da rede de água (km)'].str.replace(',', '.')
top100['AG005 - Extensão da rede de água (km)'] = pd.to_numeric(top100['AG005 - Extensão da rede de água (km)'])

In [51]:
#Alterando virgulas por pontos e transformando coluna em inteiro
top100['ES004 - Extensão da rede de esgotos (km)'] = top100['ES004 - Extensão da rede de esgotos (km)'].str.replace('.', '')
top100['ES004 - Extensão da rede de esgotos (km)'] = top100['ES004 - Extensão da rede de esgotos (km)'].str.replace(',', '.')
top100['ES004 - Extensão da rede de esgotos (km)'] = pd.to_numeric(top100['ES004 - Extensão da rede de esgotos (km)'])

In [52]:
top100.head()

,Código do Município,Tipo Empresa,Nat Juridica,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),IN013 - Índice de perdas faturamento (percentual),IN049 - Índice de perdas na distribuição (percentual),IN004 - Tarifa média praticada (R$/m³),AG005 - Extensão da rede de água (km),ES004 - Extensão da rede de esgotos (km),FN026 - Quantidade total de empregados próprios (Empregados)
2962,355030,Pública,SEMAPubl,12038175,24.69,36.69,3.66,21262.00,17101.64,4897
2371,330455,Pública,SEMAPubl,6498837,52.41,25.36,4.16,10891.20,4864.51,3105
5195,530010,Pública,SEMAPubl,2977216,24.71,35.21,4.74,8534.49,6377.11,2517
3697,292740,Pública,SEMAPubl,2938092,44.19,53.07,3.66,5358.67,3506.06,1447
3954,230440,Pública,SEMAPubl,2609716,26.66,42.64,2.99,4112.66,2442.27,5910

In [53]:
top100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 2962 to 5608
Data columns (total 10 columns):
Código do Município                                                                        200 non-null int64
Tipo Empresa                                                                               200 non-null object
Nat Juridica                                                                               200 non-null object
POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes)    200 non-null int64
IN013 - Índice de perdas faturamento (percentual)                                          200 non-null float64
IN049 - Índice de perdas na distribuição (percentual)                                      200 non-null float64
IN004 - Tarifa média praticada (R$/m³)                                                     200 non-null float64
AG005 - Extensão da rede de água (km)                                                      200 non-null float64
ES004 - Extensão da rede de esgotos (km)                                                   200 non-null float64
FN026 - Quantidade total de empregados próprios (Empregados)                               200 non-null int64
dtypes: float64(5), int64(3), object(2)
memory usage: 17.2+ KB

In [54]:
# Municipios repetidos por terem duas empresas
top100[top100.duplicated('Código do Município ')==True]

Empty DataFrame
Columns: [Código do Município , Tipo Empresa, Nat Juridica, POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes), IN013 - Índice de perdas faturamento (percentual), IN049 - Índice de perdas na distribuição (percentual), IN004 - Tarifa média praticada (R$/m³), AG005 - Extensão da rede de água (km), ES004 - Extensão da rede de esgotos (km), FN026 - Quantidade total de empregados próprios (Empregados)]
Index: []

In [55]:
data_tatra_brasil = pd.read_excel("Tabela_Trata_Brasil.xlsx",sheetname='Tabela Final Filtros', encoding='latin1', skiprows=3)

/Users/alessandremartins/anaconda/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [56]:
data_tatra_brasil.head()

,Código do município,Município,UF,Ranking 2018,Ranking 2017,Delta,População Total (IBGE),Operador,Indicador de atendimento total de água (%),"Nota atendimento total de água (máx. 0,5)",...,Indicador perdas no faturamento 2015 (%),Indicador evolução nas perdas de faturamento (%),"Nota evolução nas perdas de faturamento (máx. 0,25)",Indicador perdas na distribuição 2016 (%),"Nota perdas na distribuição (máx. 0,5)",Indicador perdas na distribuição 2015 (%),Indicador evolução nas perdas de distribuição (%),"Nota evolução nas perdas na distribuição (máx. 0,25)",Nota Total (máx. 10),Tarifa média (R$/m³)
0,351620,Franca,SP,1,1,0,344704,SABESP,99.970119,0.499851,...,13.006401,2.119953,0.25,25.852838,0.290104,26.419016,2.143067,0.159465,9.692003,2.62
1,410480,Cascavel,PR,2,8,6,316226,SANEPAR,99.989881,0.499949,...,21.827482,5.350021,0.25,33.533436,0.223657,34.590139,3.054925,0.227316,9.276865,3.54
2,317020,Uberlândia,MG,3,2,-1,669672,DMAE,100.000000,0.500000,...,24.408358,11.634113,0.25,25.196395,0.297662,25.535116,1.326491,0.098704,9.024891,1.69
3,293330,Vitória da Conquista,BA,4,10,6,346069,EMBASA,100.000000,0.500000,...,5.976817,277.019557,0.25,19.761412,0.379528,27.621160,28.455533,0.250000,8.982303,2.87
4,411520,Maringá,PR,5,5,0,403063,SANEPAR,99.989828,0.499949,...,11.668026,0.000000,0.25,24.750887,0.303019,23.272393,0.000000,0.000000,8.954230,3.64

In [57]:
novo_trata = data_tatra_brasil[['Código do município', # Cód Município
                                'Município', # 'Município'
                                'UF', # UF
                                'Operador', # Empresa
                                'Indicador de atendimento urbano de água (%)', # At Água
                                'Indicador de atendimento urbano de esgoto (%)', # At Esgoto
                                'Indicador novas ligações de água/ligações faltantes (%)', # Novas Lig Água
                                'Indicador novas ligações de esgoto/ligações faltantes (%)', # Novas Lig Esgoto
                                'Indicador evolução nas perdas de faturamento (%)', # Ev Perdas Fat
                                'Indicador evolução nas perdas de distribuição (%)', # Ev Perdas Dist
                                'Indicador de esgoto tratado por água consumida (%)', # Esg Tratado
                                'Investimento 5 anos (Milhões R$)'# Investimento
                               ]]

In [58]:

novo_trata = novo_trata.round({'Indicador de atendimento urbano de água (%)':2,
                                'Indicador de atendimento urbano de esgoto (%)':2,
                                'Indicador novas ligações de água/ligações faltantes (%)':2,
                                'Indicador novas ligações de esgoto/ligações faltantes (%)':2,
                                'Indicador evolução nas perdas de faturamento (%)':2,
                                'Indicador evolução nas perdas de distribuição (%)':2,
                                'Indicador de esgoto tratado por água consumida (%)':2,
                  'Investimento 5 anos (Milhões R$)':2
                 })

In [59]:
novo_trata.head()

,Código do município,Município,UF,Operador,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
0,351620,Franca,SP,SABESP,100.0,100.00,98.52,100.00,2.12,2.14,98.03,325.99
1,410480,Cascavel,PR,SANEPAR,100.0,100.00,99.45,100.00,5.35,3.05,94.57,175.92
2,317020,Uberlândia,MG,DMAE,100.0,100.00,100.00,37.21,11.63,1.33,76.44,266.05
3,293330,Vitória da Conquista,BA,EMBASA,100.0,93.33,100.00,29.15,277.02,28.46,86.36,131.36
4,411520,Maringá,PR,SANEPAR,100.0,99.99,99.30,100.00,0.00,0.00,99.08,167.95

In [60]:
novo_trata[novo_trata['Município'] == 'São Paulo']

,Código do município,Município,UF,Operador,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
22,355030,São Paulo,SP,SABESP,100.0,97.0,77.37,57.45,0.0,0.0,61.96,9113.98

In [61]:
novo_trata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
Código do município                                          100 non-null int64
Município                                                    100 non-null object
UF                                                           100 non-null object
Operador                                                     100 non-null object
Indicador de atendimento urbano de água (%)                  100 non-null float64
Indicador de atendimento urbano de esgoto (%)                100 non-null float64
Indicador novas ligações de água/ligações faltantes (%)      100 non-null float64
Indicador novas ligações de esgoto/ligações faltantes (%)    100 non-null float64
Indicador evolução nas perdas de faturamento (%)             100 non-null float64
Indicador evolução nas perdas de distribuição (%)            100 non-null float64
Indicador de esgoto tratado por água consumida (%)           100 non-null float64
Investimento 5 anos (Milhões R$)                             100 non-null float64
dtypes: float64(8), int64(1), object(3)
memory usage: 9.5+ KB

In [62]:
novo_trata.describe()

,Código do município,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,329946.100000,93.479000,68.365000,53.356200,26.530700,13.537700,4.141800,50.833000,337.088400
std,91034.404687,13.003894,28.951447,39.282254,32.245307,52.961792,9.285201,31.508344,931.886446
min,110020.000000,30.100000,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,287935.000000,91.675000,45.507500,13.180000,3.367500,0.000000,0.000000,24.692500,78.980000
50%,330500.000000,99.550000,75.175000,54.215000,12.895000,0.000000,0.000000,52.370000,160.855000
75%,355227.500000,100.000000,94.195000,98.850000,35.767500,5.462500,4.705000,76.567500,294.125000
max,530010.000000,100.000000,100.000000,100.000000,100.000000,430.860000,69.350000,100.000000,9113.980000

In [63]:
len(novo_trata['Município'].unique())

100

In [64]:
data_tatra_brasil['Código do município'].head()

0    351620
1    410480
2    317020
3    293330
4    411520
Name: Código do município, dtype: int64

In [65]:
novo_trata['Código do município'].dtypes

dtype('int64')

In [66]:
novo_trata['Código do município'].dtypes

dtype('int64')

In [67]:
top100['Código do Município '].dtypes

dtype('int64')

In [68]:
novo_trata['Código do município'].dtypes

dtype('int64')

In [69]:
novo_trata[novo_trata['Código do município'] == 330455]

,Código do município,Município,UF,Operador,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
38,330455,Rio de Janeiro,RJ,CEDAE / FABZO,99.0,85.16,58.78,17.29,0.84,3.9,44.51,1922.68

In [70]:
cod_municipios = novo_trata['Código do município']

In [71]:
cod_municipios.head()

0    351620
1    410480
2    317020
3    293330
4    411520
Name: Código do município, dtype: int64

In [72]:
top100['Código do Município '].head()

2962    355030
2371    330455
5195    530010
3697    292740
3954    230440
Name: Código do Município , dtype: int64

In [73]:
top100['Código do Município '].dtypes

dtype('int64')

In [74]:
#Visualizando tamanho do dataset
top100.shape

(200, 10)

In [75]:
# df_colunas = df.columns
top100_colunas = pd.DataFrame(top100.columns, columns=['colunas'])

In [76]:
trata_colunas = pd.DataFrame(novo_trata.columns, columns=['colunas'])

In [77]:
top100_colunas

                                             colunas
0                               Código do Município
1                                       Tipo Empresa
2                                       Nat Juridica
3  POP_TOT - População total do município do ano ...
4  IN013 - Índice de perdas faturamento (percentual)
5  IN049 - Índice de perdas na distribuição (perc...
6             IN004 - Tarifa média praticada (R$/m³)
7              AG005 - Extensão da rede de água (km)
8           ES004 - Extensão da rede de esgotos (km)
9  FN026 - Quantidade total de empregados próprio...

In [78]:
trata_colunas

                                              colunas
0                                 Código do município
1                                           Município
2                                                  UF
3                                            Operador
4         Indicador de atendimento urbano de água (%)
5       Indicador de atendimento urbano de esgoto (%)
6   Indicador novas ligações de água/ligações falt...
7   Indicador novas ligações de esgoto/ligações fa...
8    Indicador evolução nas perdas de faturamento (%)
9   Indicador evolução nas perdas de distribuição (%)
10  Indicador de esgoto tratado por água consumida...
11                   Investimento 5 anos (Milhões R$)

- At água - Indicador de atendimento urbano de água (%)
- At esgoto - Indicador de atendimento urbano de esgoto (%)
- Esgoto tratado - Indicador de esgoto tratado por água consumida (%)
- Novas lig água - Indicador novas ligações de água/ligações faltantes (%)
- Novas lig esgoto - Indicador novas ligações de esgoto/ligações faltantes (%)
- Ev perdas fat - Indicador evolução nas perdas de faturamento (%)
- Ev perdas dist - Indicador evolução nas perdas de distribuição (%)
- Perdas fat - Indicador perdas no faturamento 2016 (%)
- Perdas dist - Indicador perdas na distribuição 2016 (%)
- Tarifa méd - Tarifa média (Real/m³)
- Investimento - Investimento
- Ext rede água - Extensão rede de água
- Ext rede esgotos - Extensão rede de esgotos
- N func - N de funcionários

In [79]:
#data_tatra_brasil['Código do município']
top100['Código do município'] = top100['Código do Município ']

In [80]:
top100['Código do município'].dtypes

dtype('int64')

In [81]:
novo_trata['Código do município'].dtypes

dtype('int64')

In [82]:
type(top100)

pandas.core.frame.DataFrame

In [83]:
type(novo_trata)

pandas.core.frame.DataFrame

In [84]:
novo_trata

,Código do município,Município,UF,Operador,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
0,351620,Franca,SP,SABESP,100.0,100.00,98.52,100.00,2.12,2.14,98.03,325.99
1,410480,Cascavel,PR,SANEPAR,100.0,100.00,99.45,100.00,5.35,3.05,94.57,175.92
2,317020,Uberlândia,MG,DMAE,100.0,100.00,100.00,37.21,11.63,1.33,76.44,266.05
3,293330,Vitória da Conquista,BA,EMBASA,100.0,93.33,100.00,29.15,277.02,28.46,86.36,131.36
4,411520,Maringá,PR,SANEPAR,100.0,99.99,99.30,100.00,0.00,0.00,99.08,167.95
5,352690,Limeira,SP,BRK,100.0,100.00,27.89,58.70,4.23,2.35,100.00,82.07
6,354990,São José dos Campos,SP,SABESP,100.0,99.35,100.00,80.82,0.00,1.25,92.20,380.51
7,355410,Taubaté,SP,SABESP,100.0,99.17,100.00,68.75,7.81,6.68,91.11,62.53
8,354980,São José do Rio Preto,SP,SEMAE,100.0,100.00,57.91,40.08,25.35,6.09,87.57,186.41
9,317010,Uberaba,MG,CODAU,100.0,99.50,95.58,100.00,10.81,9.17,60.79,136.78
10,250400,Campina Grande,PB,CAGEPA,100.0,93.90,99.77,23.13,119.60,20.09,99.89,23.88
11,354850,Santos,SP,SABESP,100.0,99.95,98.70,100.00,0.00,0.00,97.63,108.45
12,411370,Londrina,PR,SANEPAR,100.0,99.99,98.38,100.00,0.00,0.00,89.23,296.32
13,411990,Ponta Grossa,PR,SANEPAR,100.0,99.99,99.68,100.00,0.00,0.00,86.71,109.16
14,261110,Petrolina,PE,COMPESA,100.0,96.19,100.00,23.83,4.94,9.19,67.81,159.93
15,353870,Piracicaba,SP,SEMAE,100.0,100.00,100.00,100.00,0.00,0.00,100.00,224.86
16,410690,Curitiba,PR,SANEPAR,100.0,99.99,100.00,100.00,0.00,0.00,92.93,693.76
17,350950,Campinas,SP,SANASA,99.6,92.46,50.35,37.42,0.00,0.00,67.98,551.41
18,330330,Niterói,RJ,CAN,100.0,94.78,100.00,17.47,0.00,0.00,100.00,158.77
19,352590,Jundiaí,SP,DAE,99.5,99.50,46.37,100.00,0.00,0.00,100.00,235.30
20,354340,Ribeirão Preto,SP,DAERP,99.7,98.28,53.50,100.00,0.00,0.00,89.23,171.74
21,355220,Sorocaba,SP,SAAE,99.5,97.10,60.74,60.95,4.53,0.84,76.95,59.93
22,355030,São Paulo,SP,SABESP,100.0,97.00,77.37,57.45,0.00,0.00,61.96,9113.98
23,520870,Goiânia,GO,SANEAGO,100.0,91.61,89.19,40.19,0.00,0.00,67.88,711.94
24,352940,Mauá,SP,SAMA/ BRK,98.1,92.37,42.60,50.82,0.00,0.00,67.45,270.49
25,500270,Campo Grande,MS,AG,99.8,78.90,93.75,18.06,5.80,0.00,58.38,647.95
26,330390,Petrópolis,RJ,CAI,95.6,87.24,65.66,36.75,51.23,0.00,100.00,54.46
27,355250,Suzano,SP,SABESP,100.0,93.28,100.00,29.99,0.00,0.00,54.02,139.32
28,354100,Praia Grande,SP,SABESP,91.7,70.52,18.06,17.05,430.86,0.00,65.91,495.73
29,310620,Belo Horizonte,MG,COPASA,95.0,92.49,5.23,26.31,0.00,1.55,72.16,1061.72
...,...,...,...,...,...,...,...,...,...,...,...,...
70,320520,Vila Velha,ES,CESAN,97.7,47.97,51.03,3.21,0.00,0.00,46.19,142.68
71,230370,Caucaia,CE,CAGECE,75.6,34.91,13.43,6.12,20.91,9.49,35.52,128.91
72,352310,Itaquaquecetuba,SP,SABESP,98.7,66.89,69.75,6.29,0.00,0.00,7.35,93.87
73,270430,Maceió,AL,CASAL,96.2,40.35,0.00,12.72,0.00,0.00,92.09,122.99
74,350600,Bauru,SP,DAE,99.9,98.80,49.16,0.00,0.00,0.00,3.44,69.58
75,211130,São Luís,MA,CAEMA,87.0,50.55,42.72,3.59,5.28,5.29,11.04,260.06
76,261160,Recife,PE,COMPESA,83.8,41.67,0.00,0.00,0.00,0.00,73.75,1393.21
77,520140,Aparecida de Goiânia,GO,SANEAGO,76.1,24.96,15.43,3.10,2.25,2.67,27.44,275.63
78,240810,Natal,RN,CAERN,91.6,38.17,16.25,1.30,11.51,1.19,29.00,211.28
79,260960,Olinda,PE,COMPESA,96.9,45.29,0.00,0.00,0.00,0.00,51.55,62.97
80,420910,Joinville,SC,CAJ,98.9,30.94,60.88,0.90,1.62,0.92,22.96,227.71
81,430460,Canoas,RS,CORSAN,100.0,30.25,100.00,4.46,0.00,0.00,36.24,75.21
82,431440,Pelotas,RS,SANEP,99.8,63.29,0.00,0.00,0.00,23.26,19.20,8.10
83,221100,Teresina,PI,AGESPISA,99.5,24.92,90.20,6.48,0.00,8.00,14.63,47.57
84,260790,Jaboatão dos Guararapes,PE,COMPESA,75.8,19.37,0.00,9.68,8.70,2.92,13.62,59.31
85,330045,Belford Roxo,RJ,CEDAE,78.1,39.80,0.00,0.09,0.25,0.65,33.91,45.57
86,320130,Cariacica,ES,CESAN,90.2,32.68,12.43,0.69,1.37,0.00,22.90,88.86
87,330510,São João de Meriti,RJ,CEDAE,93.6,62.00,0.00,0.00,0.47,7.47,0.00,38.17
88,510840,Várzea Grande,MT,MUNICÍPIO,97.0,29.73,19.46,1.24,2.41,3.12,35.39,0.00
89,120040,Rio Branco,AC,DEPASA,59.5,23.96,2.17,0.00,1.83,1.89,34.25,90.57
90,430920,Gravataí,RS,CORSAN,100.0,29.23,25.38,2.60,2.63,0.00,13.59,46.13
91,330170,Duque de Caxias,RJ,CEDAE,86.4,44.44,0.00,0.42,0.36,4.61,3.89,78.20
92,330350,Nova Iguaçu,RJ,CEDAE,93.8,45.58,0.00,0.00,0.00,0.00,0.00,160.83
93,330490,São Gonçalo,RJ,CEDAE,84.1,38.11,1.09,0.13,0.00,0.00,13.08,83.07
94,160030,Macapá,AP,CAESA,39.4,9.04,3.60,3.42,2.68,4.18,16.87,52.86
95,130260,Manaus,AM,MA,88.2,10.23,23.20,0.35,1.75,4.42,23.80,293.71
96,150680,Santarém,PA,COSANPA / PMS,71.5,5.86,9.41,4.38,0.00,0.00,1.39,206.06
97,150140,Belém,PA,COSANPA / SAAEB,71.0,12.73,0.00,0.00,0.00,0.00,2.67,287.26
98,150080,Ananindeua,PA,COSANPA,30.1,0.75,2.52,0.00,0.00,0.00,0.91,16.52
99,110020,Porto Velho,RO,CAERD,36.3,3.38,11.28,0.00,0.00,0.00,1.54,15.32

In [85]:
tabela_limpa = pd.merge(top100, novo_trata, on='Código do município', how='inner')

In [86]:
tabela_limpa.shape

(95, 22)

In [87]:
tabela_limpa.head()

,Código do Município,Tipo Empresa,Nat Juridica,POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes),IN013 - Índice de perdas faturamento (percentual),IN049 - Índice de perdas na distribuição (percentual),IN004 - Tarifa média praticada (R$/m³),AG005 - Extensão da rede de água (km),ES004 - Extensão da rede de esgotos (km),FN026 - Quantidade total de empregados próprios (Empregados),...,UF,Operador,Indicador de atendimento urbano de água (%),Indicador de atendimento urbano de esgoto (%),Indicador novas ligações de água/ligações faltantes (%),Indicador novas ligações de esgoto/ligações faltantes (%),Indicador evolução nas perdas de faturamento (%),Indicador evolução nas perdas de distribuição (%),Indicador de esgoto tratado por água consumida (%),Investimento 5 anos (Milhões R$)
0,355030,Pública,SEMAPubl,12038175,24.69,36.69,3.66,21262.00,17101.64,4897,...,SP,SABESP,100.0,97.00,77.37,57.45,0.00,0.00,61.96,9113.98
1,330455,Pública,SEMAPubl,6498837,52.41,25.36,4.16,10891.20,4864.51,3105,...,RJ,CEDAE / FABZO,99.0,85.16,58.78,17.29,0.84,3.90,44.51,1922.68
2,530010,Pública,SEMAPubl,2977216,24.71,35.21,4.74,8534.49,6377.11,2517,...,DF,CAESB,99.1,85.23,68.48,12.41,0.88,0.00,84.42,878.80
3,292740,Pública,SEMAPubl,2938092,44.19,53.07,3.66,5358.67,3506.06,1447,...,BA,EMBASA,90.6,78.77,18.01,14.92,25.82,0.00,100.00,544.32
4,230440,Pública,SEMAPubl,2609716,26.66,42.64,2.99,4112.66,2442.27,5910,...,CE,CAGECE,83.3,49.68,5.61,7.77,14.36,6.78,53.19,806.14

In [88]:
#tabela_limpa = novo_trata.merge(novo_top100, left_on='Código do município', right_on='Código do Município ', how='outer')

In [89]:
tabela_limpa[tabela_limpa.duplicated('Código do município')==True]

Empty DataFrame
Columns: [Código do Município , Tipo Empresa, Nat Juridica, POP_TOT - População total do município do ano de referência (Fonte: IBGE): (Habitantes), IN013 - Índice de perdas faturamento (percentual), IN049 - Índice de perdas na distribuição (percentual), IN004 - Tarifa média praticada (R$/m³), AG005 - Extensão da rede de água (km), ES004 - Extensão da rede de esgotos (km), FN026 - Quantidade total de empregados próprios (Empregados), Código do município, Município, UF, Operador, Indicador de atendimento urbano de água (%), Indicador de atendimento urbano de esgoto (%), Indicador novas ligações de água/ligações faltantes (%), Indicador novas ligações de esgoto/ligações faltantes (%), Indicador evolução nas perdas de faturamento (%), Indicador evolução nas perdas de distribuição (%), Indicador de esgoto tratado por água consumida (%), Investimento 5 anos (Milhões R$)]
Index: []

[0 rows x 22 columns]

In [90]:
len(tabela_limpa)

95

In [91]:
#  Renomear colunas
tabela_limpa.columns = ['Cód Município',
                        'Tp Empresa', 
                        'Nat Jurídica',
                        'Pop Total',
                        'Perdas Fat',
                        'Perdas Dist',
                        'Tarifa méd',
                        'Ext rede água',
                        'Ext rede esgotos',
                        'Empregados',
                        'Código do município',
                        'Município',
                        'UF',
                        'Empresa',
                        'At Água',
                        'At Esgoto',
                        'Novas Lig Água',
                        'Novas Lig Esgoto',
                        'Ev Perdas Fat',
                        'Ev Perdas Dist',
                        'Esg Tratado',
                        'Investimento'
             ]

In [92]:
tabela_limpa.head()

,Cód Município,Tp Empresa,Nat Jurídica,Pop Total,Perdas Fat,Perdas Dist,Tarifa méd,Ext rede água,Ext rede esgotos,Empregados,...,UF,Empresa,At Água,At Esgoto,Novas Lig Água,Novas Lig Esgoto,Ev Perdas Fat,Ev Perdas Dist,Esg Tratado,Investimento
0,355030,Pública,SEMAPubl,12038175,24.69,36.69,3.66,21262.00,17101.64,4897,...,SP,SABESP,100.0,97.00,77.37,57.45,0.00,0.00,61.96,9113.98
1,330455,Pública,SEMAPubl,6498837,52.41,25.36,4.16,10891.20,4864.51,3105,...,RJ,CEDAE / FABZO,99.0,85.16,58.78,17.29,0.84,3.90,44.51,1922.68
2,530010,Pública,SEMAPubl,2977216,24.71,35.21,4.74,8534.49,6377.11,2517,...,DF,CAESB,99.1,85.23,68.48,12.41,0.88,0.00,84.42,878.80
3,292740,Pública,SEMAPubl,2938092,44.19,53.07,3.66,5358.67,3506.06,1447,...,BA,EMBASA,90.6,78.77,18.01,14.92,25.82,0.00,100.00,544.32
4,230440,Pública,SEMAPubl,2609716,26.66,42.64,2.99,4112.66,2442.27,5910,...,CE,CAGECE,83.3,49.68,5.61,7.77,14.36,6.78,53.19,806.14

In [93]:
tabela_limpa[tabela_limpa['Município']=='São Paulo']

,Cód Município,Tp Empresa,Nat Jurídica,Pop Total,Perdas Fat,Perdas Dist,Tarifa méd,Ext rede água,Ext rede esgotos,Empregados,...,UF,Empresa,At Água,At Esgoto,Novas Lig Água,Novas Lig Esgoto,Ev Perdas Fat,Ev Perdas Dist,Esg Tratado,Investimento
0,355030,Pública,SEMAPubl,12038175,24.69,36.69,3.66,21262.0,17101.64,4897,...,SP,SABESP,100.0,97.0,77.37,57.45,0.0,0.0,61.96,9113.98

In [94]:
#Criando novo dataset com os dados limpos
tabela_limpa.to_csv('dados_limpos_saneamento.csv', index=False)